:root { 
    --brand-color: rgb(142, 193, 214);
    --dark-color: rgb(61, 75, 95);
    --mid-color: rgb(203, 213, 225);
    --light-color: rgb(249, 250, 251);
   }
*{
	margin: 0;
	padding: 0;
}
body {
	background: linear-gradient(to bottom, #2E9AFE, white)
}
#contenedor{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
	margin-top: 3%;
	margin-left: 15%;
	margin-bottom: 15px;
}
.item-1, .item-2 {
	width: 50%;
    margin-right: 40px;
}
.slideimg {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	max-width: 100%;
	max-height: 100%;
}
.slideauto {
	width: 70%;
	margin: auto;
	overflow: hidden;
}

.slideauto ul {
	display: flex;
	padding: 0;
	width: 700%;
	animation: cambio 27s infinite alternate linear;
}

.slideauto li {
	width: 100%;
	height: 80%;
	list-style: none;
}

.slideauto img {
	width: 100%;
	height: 100%;
	border-radius: 7px;
	border: 3px white solid; 
}
@keyframes cambio {
	0% {margin-left: 0;}
	10% {margin-left: 0;}
	
	15% {margin-left: -100%;}
	25% {margin-left: -100%;}
	
	30% {margin-left: -200%;}
	40% {margin-left: -200%;}
	
	45% {margin-left: -300%;}
	55% {margin-left: -300%;}

	60% {margin-left: -400%;}
    70% {margin-left: -400%;}

    75% {margin-left: -500%;}
    85% {margin-left: -500%;}

    90% {margin-left: -600%;}
    100% {margin-left: -600%;}
}
h1 {
	text-align: center;
	font-size: 70px;
	margin-bottom: 30px;
	margin-top: 20px;
	color: var(--brand-color);
}
.item-1 p {
	text-align: justify;
	font-size: 20px;
    transform: scale(1);
    color: black;
}
.iconoshab {
	width: 40px;
	height: 40px;
	margin-right: 20px;
	margin-bottom: 35px;
}
@media screen and (max-width: 400px) {
.mobile {
   display: flex;
   justify-content: space-between;
   width: 30%;
}
.logo {
    margin-left: .6rem;
    width: 130px;
}
nav {
   flex-direction: row;
   flex-wrap: nowrap;
   height: 80px;
    }
.bar-btn {
   display: none;
}
.nav-menu {
   position: relative;
   height: 100px;
   top: 0;
   background: none;
   transition: none;
   text-align: right;
   margin-right: .6rem;
}
.nav-menu li {
   display: inline-block;
   line-height: 100px;
   margin: 0 5px;
   transition: none;
}
.nav-menu li a {
   font-size: 1.1em;
}
.piePagina .grupo-1{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;

}
@media screen and(min-width:1024px) {
.mobile {
	width: 100%;
}
}
