* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.titulo {
    background: var(--brand-color);
    margin-top: 5px;
    height: 35px;
    width: 100vw;
   
}
.titulo h1{
    color: var(--light-color);
    font-size: 20px;
    text-align: center;
    padding: 5px 5px;
}
h1{
    text-align: center;

}
h2 {
    text-align: center;
}

#container {
        margin-top: 80px;
}
#grid{
   margin: 5px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
    
     
 }
 .contenedor{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.contenedor img{
    width: 100%;
}

article{
    padding: 10px;
    box-shadow: 0px 0px 2px #3D4B5F;
    border: 1px solid #8EC1D6;
}
p {
    text-align: justify;

}

@media screen and (min-width: 768px) {
    #grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    #grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
