/*@import url(/css/index.css);
/*body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f3f1f5;
}*/
/*CARDS*/

:root { 
    --brand-color: rgb(142, 193, 214);
    --dark-color: rgb(61, 75, 95);
    --mid-color: rgb(203, 213, 225);
    --light-color: rgb(249, 250, 251);
   }

body {
   /* height: 100vh;*/
    font-family: 'Raleway', sans-serif;
}
.titulo {
    background: var(--brand-color);
    margin-top: 5px;
    height: 35px;
    width: 100%;
   
}
.titulo h1{
    color: var(--light-color);
    font-size: 20px;
    text-align: center;
    padding: 5px 5px;
}

.contenedor_servicios {
    margin: 2rem;
    background: var(--mid-color);
 }
.row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
.imagen_card {
    background: #1c548dcb ;
    position: relative;
    flex: 32%;
    max-width: 300px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
}
.imagen_card img {
    opacity: 0.8;
    position: relative;
    vertical-align: top;
    transition: 0.6s;
    transition-property: opacity;
}
.imagen_card:hover img {
    opacity: 1;
}
.imagen_card .detalle_card {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--light-color);
    width: 100%;
    height: 100%;

}
.imagen_card .detalle_card h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 70px;
    transition-property: transform; /*la q uso en el hover*/
}
.imagen_card .detalle_card h2 span {
    font-weight: 400;
}
.imagen_card:hover .detalle_card h2 {
    transform: translateY(-30px); /*sube el h2 */
}
.imagen_card .detalle_card p {
    margin: 30px 30px 0 30px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
    transition-property: opacity, transform; /*transiciones q hago en el hover*/
}
.imagen_card:hover .detalle_card p {
    opacity:1;
    transform: translateY(-40px);
}
.mas {
    position: absolute;
    background: rgba(255, 255, 255,.8);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    transition: 0.6s;
    bottom: -90px; /*lo hago salir del card , lo saco a esto si no quiero q desaparezca*/
    transition-property: bottom;
}
.imagen_card:hover .mas {
    bottom: 0;
}
.mas .leer_mas {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.mas .leer_mas span{
    font-weight: 600;
}
.mas .iconos i {
    color:#000;
    font-size: 16px;

}
.mas .iconos a:not(last-child) i{
    margin-right: 20px;
}
/*Responsive Css Card*/

@media screen and (min-width: 480px) {
    .imagen_card {
        max-width: 350px;
    }
    .imagen_card .detalle_card h2 span {
        font-weight: 600;
    }
    .imagen_card .detalle_card p{
        font-size: 18px;
    }
    .mas .leer_mas, .mas .iconos a i {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .row {
        flex-flow: row wrap;
    }
    .imagen_card {
        flex: 100%;
        max-width: 480px;
    }
    .imagen_card .detalle_card h2 span {
        font-weight: 900;
    }
    .imagen_card .detalle_card p{
        font-size: 20px;
    }
    .mas .leer_mas, .mas .iconos a i {
        font-size: 25px;
        font-weight: 900;
    }
}
@media screen and (min-width: 1024px) {
    .row {
        flex-flow: row nowrap;
        width: 100vw;
    }
    .imagen_card {
        max-width: 330px;
        height: 300px;
        margin: 20px;
        overflow: hidden;
    }
}
@media screen and (min-width: 1280px) {
    .imagen_card {
        max-width: 430px;
        height: 300px;
        margin: 20px;
        overflow: hidden;
    }
}
