


.titulo {
    background: rgba(9, 13, 126, .6);
    margin-top: 5px;
    height: 35px;
    width: 100%;
   
}
.titulo h1{
    color: rgb(127, 255, 212);
    font-size: 20px;
    text-align: center;
    padding: 5px 5px;
}